[submodule "googletest-src"]
	path = googletest-src
	url = https://github.com/google/googletest.git
[submodule "mxDataGenerator-src"]
	path = mxDataGenerator-src
	url = https://github.com/ROCm/mxDataGenerator.git
